<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gingerbeardman.fsnotes</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>209A5E0E-C177-413B-8DD0-E53D9A7A2A65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCA3626D-4653-40D5-AE8F-E8F3CABD4CDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23B67ECD-1869-4914-8F53-E5C6E1E67D4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4374FA-09BB-4356-8EDF-F14DC2E3F4BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33121385-EA18-4A9A-982B-212005998304</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C9C0EC2-C58F-408E-84AC-F85B94E4F5D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45CB2A3E-7B07-4E8A-A702-9CB9EB8FDCD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CCAADAB-A681-45A8-A2EB-999EBE0FC3D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CCAADAB-A681-45A8-A2EB-999EBE0FC3D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AA09613-A1D7-4057-A5C1-6D57C7300FB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FADA805-B74A-41BF-8350-297178DDF691</key>
		<array/>
		<key>7AA09613-A1D7-4057-A5C1-6D57C7300FB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46D37702-C3E3-4E6D-B67F-A575E6E60569</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F4374FA-09BB-4356-8EDF-F14DC2E3F4BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45CB2A3E-7B07-4E8A-A702-9CB9EB8FDCD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8991B972-F0E9-404C-9C4F-ADAB9F89C597</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B4A2BEA-94F4-4221-BF29-361A2A966FF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FBFB864-7599-4198-A259-0C6E4DF4C1E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCA3626D-4653-40D5-AE8F-E8F3CABD4CDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCA3626D-4653-40D5-AE8F-E8F3CABD4CDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33121385-EA18-4A9A-982B-212005998304</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3B33938-9067-40CA-AE28-41D23F563D6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>014460B8-8DDC-48C3-BD65-8DD457E3FA01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2178BD0-31DA-4291-BB6D-71FE0C8CABA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FADA805-B74A-41BF-8350-297178DDF691</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D358A830-E5DD-4CE7-996D-F52D2B22E17F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B4A2BEA-94F4-4221-BF29-361A2A966FF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF1F8326-75C4-481B-9ECE-CAE81C096C4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6CA6A6C-4011-43B6-9376-007BD4C6C826</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Sephton</string>
	<key>description</key>
	<string>Remote control FSNotes from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FSNotes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>fsnotes://find/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>014460B8-8DDC-48C3-BD65-8DD457E3FA01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fss</string>
				<key>subtext</key>
				<string>Specify search phrase</string>
				<key>text</key>
				<string>Search...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C3B33938-9067-40CA-AE28-41D23F563D6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fsn</string>
				<key>subtext</key>
				<string>Specify title (optional)</string>
				<key>text</key>
				<string>Create...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2178BD0-31DA-4291-BB6D-71FE0C8CABA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>fsnotes://new/?title={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5FADA805-B74A-41BF-8350-297178DDF691</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTextContent</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>fsf</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Containers/co.fluder.FSNotes/Data/Documents</string>
					<string>~/Library/Mobile Documents/iCloud~co~fluder~fsnotes/Documents</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Specify file name or search term</string>
				<key>title</key>
				<string>Open...</string>
				<key>types</key>
				<array>
					<string>es.fsnot.etp.package</string>
					<string>net.daringfireball.markdown</string>
					<string>org.textbundle.compressed</string>
					<string>org.textbundle.package</string>
					<string>public.rtf</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>EF1F8326-75C4-481B-9ECE-CAE81C096C4B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>fsnotes://find/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E6CA6A6C-4011-43B6-9376-007BD4C6C826</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/FSNotes.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>6B4A2BEA-94F4-4221-BF29-361A2A966FF9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTextContent</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>fsi</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Specify file name or search term</string>
				<key>title</key>
				<string>Import...</string>
				<key>types</key>
				<array>
					<string>es.fsnot.etp.package</string>
					<string>net.daringfireball.markdown</string>
					<string>org.textbundle.compressed</string>
					<string>org.textbundle.package</string>
					<string>public.rtf</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>8991B972-F0E9-404C-9C4F-ADAB9F89C597</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>es.fsnot.etp.package</string>
					<string>net.daringfireball.markdown</string>
					<string>org.textbundle.compressed</string>
					<string>org.textbundle.package</string>
					<string>public.rtf</string>
				</array>
				<key>name</key>
				<string>Import to FSNotes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>D358A830-E5DD-4CE7-996D-F52D2B22E17F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fsj</string>
				<key>subtext</key>
				<string>Title will be year and week</string>
				<key>text</key>
				<string>Create weekly journal entry...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>209A5E0E-C177-413B-8DD0-E53D9A7A2A65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>fsnotes://new/?title={var:title}&amp;txt=%23%20{var:title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0C9C0EC2-C58F-408E-84AC-F85B94E4F5D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n $(date +%Y-w%U)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BCA3626D-4653-40D5-AE8F-E8F3CABD4CDB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>33121385-EA18-4A9A-982B-212005998304</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8FBFB864-7599-4198-A259-0C6E4DF4C1E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fsc</string>
				<key>subtext</key>
				<string>Specify title (optional), body will be current clipboard contents</string>
				<key>text</key>
				<string>Create note from Clipboard...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4CCAADAB-A681-45A8-A2EB-999EBE0FC3D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>fsnotes://new/?title={var:title}&amp;txt={var:txt}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>46D37702-C3E3-4E6D-B67F-A575E6E60569</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
					<key>txt</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7AA09613-A1D7-4057-A5C1-6D57C7300FB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7F4374FA-09BB-4356-8EDF-F14DC2E3F4BD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Add to FSNotes…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>23B67ECD-1869-4914-8F53-E5C6E1E67D4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>45CB2A3E-7B07-4E8A-A702-9CB9EB8FDCD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>FSNotes is modern notes manager for macOS and iOS. App respects open formats like GitHub Flavored Markdown, so you can easily write documents on iPhone and MacBook. It's simple and blazing fast!

See https://fsnot.es

This workflow offers the following triggers:

* `fss` — Search existing notes
* `fst` — Make new note with an optional title
* `fsc` — Create new note from Clipboard with optional title
* `fsf` — Search notes as files
* `fsi` — File filter to add a selected
* `fsj` — Create weekly journal note
* Universal Action to import text selected or from Clipboard History
* File Action to add a file


## Documentation

https://github.com/gingerbeardman/fsnotes-alfred-workflow</string>
	<key>uidata</key>
	<dict>
		<key>014460B8-8DDC-48C3-BD65-8DD457E3FA01</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>0C9C0EC2-C58F-408E-84AC-F85B94E4F5D7</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>209A5E0E-C177-413B-8DD0-E53D9A7A2A65</key>
		<dict>
			<key>note</key>
			<string>New titled note from clipboard</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>23B67ECD-1869-4914-8F53-E5C6E1E67D4D</key>
		<dict>
			<key>note</key>
			<string>New note from selected text or Clipboard History</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>33121385-EA18-4A9A-982B-212005998304</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>45CB2A3E-7B07-4E8A-A702-9CB9EB8FDCD0</key>
		<dict>
			<key>note</key>
			<string>Empty argument so it does not populate keyword</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>1130</real>
		</dict>
		<key>46D37702-C3E3-4E6D-B67F-A575E6E60569</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>4CCAADAB-A681-45A8-A2EB-999EBE0FC3D6</key>
		<dict>
			<key>note</key>
			<string>New titled note from clipboard</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>5FADA805-B74A-41BF-8350-297178DDF691</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>6B4A2BEA-94F4-4221-BF29-361A2A966FF9</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>7AA09613-A1D7-4057-A5C1-6D57C7300FB2</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>7F4374FA-09BB-4356-8EDF-F14DC2E3F4BD</key>
		<dict>
			<key>note</key>
			<string>Make text into most recent clipboard entry</string>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>8991B972-F0E9-404C-9C4F-ADAB9F89C597</key>
		<dict>
			<key>note</key>
			<string>Import note</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>8FBFB864-7599-4198-A259-0C6E4DF4C1E4</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>BCA3626D-4653-40D5-AE8F-E8F3CABD4CDB</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>C3B33938-9067-40CA-AE28-41D23F563D6D</key>
		<dict>
			<key>note</key>
			<string>Open FSNotes to Search</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>D2178BD0-31DA-4291-BB6D-71FE0C8CABA6</key>
		<dict>
			<key>note</key>
			<string>New titled note</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>D358A830-E5DD-4CE7-996D-F52D2B22E17F</key>
		<dict>
			<key>note</key>
			<string>Import note</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>E6CA6A6C-4011-43B6-9376-007BD4C6C826</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>EF1F8326-75C4-481B-9ECE-CAE81C096C4B</key>
		<dict>
			<key>note</key>
			<string>Search FSNotes default folder</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.5</string>
	<key>webaddress</key>
	<string>http://www.gingerbeardman.com</string>
</dict>
</plist>
